.messagemain {
  display: none;
}

h2 {
  text-align: center;
  font-weight: 500;
}

.messagetri {
  display: flex;
  justify-content: space-around;
}

.messagetri div {
  display: inline-block;
  width: 100px;
  height: 50px;
  display: flex;
  font-size: 13px;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  color: #8d8d8d;
}